################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCRM/DotNetCRM/bin/Debug
/DotNetCRM/DotNetCRM/obj/Debug

/.vs/.Net CRM/v15
/DotNetCRM/Database/obj
/DotNetCRM/Database/bin
/DotNetCRM/DataModels/bin/Debug
/DotNetCRM/DataModels/obj
/DotNetCRM/Restful
