################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCRM/DotNetCRM/bin/Debug
/DotNetCRM/DotNetCRM/obj/Debug

